body{
  background-color: #141414;
}
.card {
  margin: 5em;
  margin-left: 35%;
  margin-right: 35%;
}
.current-temp{
  text-align: center;
  font-size: xx-large;
}
.content{
  margin: 10px 0px 0px 10px;
}

.column{
  display: flex;  
  justify-content: space-between;
}