body{
  background: rgb(20,56,78);
}
.card {

  background: rgb(39,182,175);
  background: linear-gradient(133deg, rgba(39,182,175,1) 26%, rgba(0,212,255,1) 84%); 
  margin: 5em;
  margin-left: 35%;
  margin-right: 35%;
}
.current-temp{
  text-align: center;
  font-size: xx-large;
}
.content{
  margin: 10px 0px 0px 10px;
}

.column{
  display: flex;  
  justify-content: space-between;
}